{% extends "app/layout.html" %}


{% block content %}
<script type="text/javascript">
$(function () {
    update();
    });

function setheader() {
    $.ajaxSetup({
    headers: { "X-CSRFToken": '{{csrf_token}}' }
    });
}
    
function update() {
    setheader();
    $.post("/", { "read": true })
        .done(function (result) {
        dict = JSON.parse(result)
        $('#dist').html(dict['dist']);
        $('#status').html(dict['status']);
        if (dict['status'] == 'Suspended')
			$("#stop").text("Resume");
        else
            $("#stop").text("Suspend");
    })
    .fail(function(xhr,status,error) {
		$('#status').html("Connexion lost")		
	}); 
    setTimeout("update()", 100);
    //# sourceURL=update.js
}
</script>

<div class="jumbotron">
    <div id="dist">Distance (cm) : {{ distance }}..</div>
    
    {% if user.is_authenticated %}
    {% load staticfiles%}
    <script>
		function SuspendResume()
        {
            setheader();
			if ($("#stop").text() == "Suspend") {
				$.post("/", { "stop": 1 });
				$("#stop").text("Resume");
			}
			else {
				$.post("/", { "stop": 0 });
				$("#stop").text("Suspend");
			}		
		}
    </script>
    <a  id="stop" class="btn btn-default" href="javascript:void(0);" onclick="SuspendResume()" >Suspend</a>
    {% endif %}
</div>
<div style="font-style : italic" id="status">Connecting..</div>

{% endblock %}
